In [1]:
import pandas as pd

In [3]:
df1 = pd.read_stata('C:/Users/84678/Desktop/RA/test/test questions/test questions/CH_4_month_update_2020_12.dta')

In [4]:
df2 = pd.read_stata('C:/Users/84678/Desktop/RA/test/test questions/test questions/stock_return.dta')

In [14]:
df_merge = pd.merge(df1,df2,on=['year','month'],how='inner')

In [15]:
df_merge

         year  month  rf_mon  mktrf   vmg   smb   pmo   stock  mean_ret_mon
0      2006.0    1.0    0.19   8.62 -0.42 -0.77  2.10  600129      0.002102
1      2006.0    1.0    0.19   8.62 -0.42 -0.77  2.10  600130      0.002102
2      2006.0    1.0    0.19   8.62 -0.42 -0.77  2.10  600131      0.002102
3      2006.0    1.0    0.19   8.62 -0.42 -0.77  2.10  600132      0.002102
4      2006.0    1.0    0.19   8.62 -0.42 -0.77  2.10  600133      0.002102
...       ...    ...     ...    ...   ...   ...   ...     ...           ...
47350  2010.0   12.0    0.21  -1.14  3.99 -1.68 -0.62  900952      0.002102
47351  2010.0   12.0    0.21  -1.14  3.99 -1.68 -0.62  900953      0.002102
47352  2010.0   12.0    0.21  -1.14  3.99 -1.68 -0.62  900955      0.002102
47353  2010.0   12.0    0.21  -1.14  3.99 -1.68 -0.62  900956      0.002102
47354  2010.0   12.0    0.21  -1.14  3.99 -1.68 -0.62  900957      0.002102

[47355 rows x 9 columns]